<main>
<header class="section background-image-full overlay overlay--dark section--content-center"
         style="background-image: url('../../../assets/shutterstock_237113509-small.jpeg');">
    <div class="section__hero-content">
        <h1>Английский с Bilingual Lil Munchkins</h1>
        <p class="section__description">Если у Вас есть желание, чтобы Ваш ребенок говорил на английском языке и понимал его как родной, то мы будем рады Вам помочь развивать билингвальные возможности Вашего ребенка.</p>
            <a class="button button--border--solid" href="/авторские-материалы/">
                Получить авторские материалы
            </a>
    </div>
  </header>
  <section class="section section">
    <div class="center-block">
      <div class="col-md-6">
        <div class="ta-center">
        <h2>Уникальный проект </h2>
        <p>Что вас ждет? ⬇ 
            Готовые материалы на каждую неделю под любой возраст ребенка; 
            Готовое расписание; 
            Диалоги с озвучкой и отработкой на все задания; 
            НОВИНКА! Грамматика для мам с нуля; 
            НОВИНКА!Идиомы, полезные выражения в речи мамы с примерами повседневного использования; 
            НОВИНКА! Обучение чтению; 
            НОВИНКА! Материалы по методике Шичида; 
            ЧТО ЭТО ТАКОЕ? 😨 ответ здесь ➡ https://goo.gl/14KFza. 
            НОВИНКА! 🇪🇸Испанский язык (начинаем с нуля); 
            Присоединяйтесь! Кол-во мест ограничено! </p>
        <a class="button button--border--solid" href="/авторские-материалы/">
          Присоединиться к проекту
      </a>
      </div>
        </div>
        <div class="col-md-6 employee-grid__item">
          <div class="ta-center">
          <img src="assets/image.jpg" class="project-img"/>
          </div>
          </div>
      </div>
    </section>
<section class="section section">
    


    <div class="umb-grid">
                <div class="grid-section">
    <div >
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div >
                            
    

    
        <div class="blogposts">

                <a href="/новости/my-blog-post/" class="blogpost">
                    <div class="blogpost-meta">
                        <small class="blogpost-date">05.11.2018</small>
                        <small class="blogpost-cat">
                                <!-- TODO: Add links to categories-->
demo     
    <!-- TODO: Add links to categories-->
umbraco     
    <!-- TODO: Add links to categories-->
starter kit     

                        </small>
                    </div>
                    <h3 class="blogpost-title">Старт проекта &quot;365 Kids Lingua Life&quot;</h3>
                    <div class="blogpost-excerpt">‼ Приглашаем принять участие в уникальном проекте 365 Kids Lingua Life!‼ 
⏰СТАРТ - 1 ноября 2018 года.</div>
                </a>
                <a href="/новости/another-one/" class="blogpost">
                    <div class="blogpost-meta">
                        <small class="blogpost-date">05.11.2018</small>
                        <small class="blogpost-cat">
                                <!-- TODO: Add links to categories-->
cg16     
    <!-- TODO: Add links to categories-->
codegarden     
    <!-- TODO: Add links to categories-->
umbraco     

                        </small>
                    </div>
                    <h3 class="blogpost-title">Второй поток марафона &quot;Работаем с глоссариями. КАК?&quot;</h3>
                    <div class="blogpost-excerpt">Работаем с глоссариями. КАК?&#160;&#160;

НАЧИНАЕМ 31.08.2018 в 19.00 по мск. ВТОРОЙ ПОТОК.</div>
                </a>
        </div>
    


                </div>
            </div>        </div>
    </div>
                </div>
    </div>



</section>


<section class="section section--themed bottom">

    <div class="container">
        <div class="row center">

            <div class="ta-center">
                <h2>Английский с Bilingual Lil Munchkins</h2>
                <p class="section__description mw-640 ma-h-auto">Давайте развиваться и идти вперед вместе!!!</p>

                <a class="button button--border--light_solid" href="/новости/">
                    Следите за новостями
                </a>
               
            </div>
                <div class="center" id="vk_groups"></div>
<!-- VK Widget -->

        </div>
    </div>

</section>
    </main>