<div >
  <div>
    <div>
      <app-nav-menu></app-nav-menu>
    </div>
    <div>
      <router-outlet></router-outlet>
    </div>

      <footer class="section--themed">
          <div class="container">
              
                  <div class="ta-center">
                        <a href="https://vk.com/lil_munchkins" target="_blank">
                          <img src="assets/Mezhdunarodny (1).png">
                        </a>
                        <a href="https://www.instagram.com/bilingual_lil_munchkins/?hl=ru" target="_blank">
                          <img src="assets/Instagram_icon-icons.com_66804.png">
                        </a>
                  </div>
                  <div class="ta-center">
                      Copyright &#169; E.Shumskaya. All Rights Reserved.
                  </div>
              </div>
      </footer>
  </div>
</div>
