  <div>
  <div class="mobile-nav">
        <nav class="nav-bar">
            


    <a class="nav-link" href="/авторские-материалы/">Авторские материалы</a>
    <a class="nav-link" href="/наша-команда/">Наша команда</a>
    <a class="nav-link" href="/новости/">Новости</a>
    <a class="nav-link" href="/полезные-материалы/">Полезные материалы</a>

        </nav>
    </div>

    <div class="header header-fixed">

        <div class="logo">
                <a class="nav-link" href="/">Kids Lingua Life</a>
        </div>

        <div class="nav-bar top-nav">
            


    <a class="nav-link" href="/авторские-материалы/">Авторские материалы</a>
    <a class="nav-link" href="/наша-команда/">Наша команда</a>
    <a class="nav-link" href="/новости/">Новости</a>
    <a class="nav-link" href="/полезные-материалы/">Полезные материалы</a>

        </div>

        <div class="mobile-nav-handler">
            <div class="hamburger lines" id="toggle-nav">
                <span></span>
            </div>
        </div>

    </div>

</div>
